<div id="pizza-selection-page">
	<!-- <a 
	  class='eye-tile'
	  *ngFor="let pizza of pizzas" 
	   >
		<mat-card class='eye-item-move' >
				<mat-card-title>
					{{pizza.Name}}
				</mat-card-title>
				<mat-card-content>
					{{ pizza.Price }}
				</mat-card-content>
		</mat-card>
	</a>
	<a  class='eye-tile' >
		<mat-card class='eye-item-move' >
				<mat-card-title>
					Custom
				</mat-card-title>
		</mat-card>
	</a> -->
	<mat-toolbar>
		<button mat-icon-button *ngIf="stage.stage != 'menu'">
            Menu
          </button>
        <h1 class='text-center full-width'> {{ stage.title }} </h1>
        <button mat-icon-button>
            Next
          </button>
    </mat-toolbar>
    <ng-template [ngIf]="stage.stage == 'Toppings'" [ngIfElse]="singleLine">
    	<div *ngFor="let sec of getKeys(products)">
    		<h2>{{ sec }}</h2>
    		<mat-grid-list cols="4" gutterSize="10"  row="1:1">
				<mat-grid-tile *ngFor="let product of products[sec]" >
					<mat-card class="example-card">
					  <mat-card-header>
					    <mat-card-title>{{product.Name}}</mat-card-title>
					  </mat-card-header>
					  <img mat-card-image src="/images/{{product.Image}}" [style.height.px]="180" alt="pizza">
					 
					  <mat-card-actions end>
					    <button mat-button (click)="add(product)">Add {{ getPrice(product)  | currency }}</button>
					    <mat-form-field appearance="outline" *ngIf="product.Dough">
					    	<mat-label>Size</mat-label>
					    	<mat-select [(ngModel)]="product.Dough.Size">
						    	<mat-option *ngFor="let size of getDoughSize()" [value]="doughSize[size]">
						    		{{ size | lowercase }}
						    	</mat-option>
						    </mat-select>
					    </mat-form-field>
					  </mat-card-actions>
					</mat-card>
				</mat-grid-tile>
			</mat-grid-list>
			<mat-divider></mat-divider>
    	</div>
    </ng-template>
    <ng-template #singleLine>
		<mat-grid-list cols="4" gutterSize="10"  rowHeight="400px">
			<mat-grid-tile *ngFor="let product of products" >
				<mat-card class="example-card">
				  <mat-card-header>
				    <mat-card-title>{{product.Name}}</mat-card-title>
				  </mat-card-header>
				  <img mat-card-image src="/images/{{product.Image}}" [style.height.px]="180" alt="pizza">
				 
				  <mat-card-actions end>
				    <button mat-button (click)="add(product)">Add {{ getPrice(product)  | currency }}</button>
				    <mat-form-field appearance="outline" *ngIf="product.Dough">
				    	<mat-label>Size</mat-label>
				    	<mat-select [(ngModel)]="product.Dough.Size">
					    	<mat-option *ngFor="let size of getDoughSize()" [value]="doughSize[size]">
					    		{{ size | lowercase }}
					    	</mat-option>
					    </mat-select>
				    </mat-form-field>
				  </mat-card-actions>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
	</ng-template>
</div>
